<%= form_for(@table) do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ime %><br>
    <%= f.text_field :ime %>
  </div>
  <div class="field">
    <%= f.label :chislo %><br>
    <%= f.number_field :chislo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
