<p id="notice"><%= notice %></p>

<p>
  <strong>Ime:</strong>
  <%= @table.ime %>
</p>

<p>
  <strong>Chislo:</strong>
  <%= @table.chislo %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
