<p id="notice"><%= notice %></p>

<h1>Listing Putniks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @putniks.each do |putnik| %>
      <tr>
        <td><%= putnik.name %></td>
        <td><%= putnik.phone %></td>
        <td><%= link_to 'Show', putnik %></td>
        <td><%= link_to 'Edit', edit_putnik_path(putnik) %></td>
        <td><%= link_to 'Destroy', putnik, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Putnik', new_putnik_path %>
