<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @putnik.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @putnik.phone %>
</p>

<%= link_to 'Edit', edit_putnik_path(@putnik) %> |
<%= link_to 'Back', putniks_path %>
